@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@mixin flexWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Header
.logo__link {
  text-decoration: none;
  color: white;
}

.basket__link {
  position: relative;
  text-decoration: none;
  color: white;
}

.count__sneaker {
  position: absolute;
  top: 20%;
  right: 0.5%;
}

//Main
.wrapper__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__title-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

//Basket
.img__basket {
  height: 150px;
  width: 100px;
}

.wrapper__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  &-basket {
    @include flexWrapper;
  }
}

.wrapper__basket-empty {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper__btn-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper__title-subtitle {
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .wrapper__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
