@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@mixin flexWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

//Header
.logo__link {
  text-decoration: none;
  color: white;
}

.basket__link {
  position: relative;
  text-decoration: none;
  color: white;
}

.count__sneaker {
  position: absolute;
  top: 20%;
  right: 0.5%;
}

//Main

.wrapper__main-page {
  flex-grow: 1;
}

.wrapper__basket-page {
  margin-top: 5rem;
  flex-grow: 1;
}

.wrapper__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__title-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

//Basket
.img__basket {
  height: 150px;
  width: 100px;
}

.wrapper__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  &-basket {
    @include flexWrapper;
  }
}

.wrapper__basket-empty {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper__btn-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper__title-subtitle {
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .wrapper__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__amount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sneaker-page__wrapper {
  margin-top: 5rem;
  flex: 1 0 auto;

  .sneaker__item-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    .sneaker__item-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.footer {
  background-color: #1976d2;
  margin-top: 2rem;
  flex: 0 0 auto;
  .footer__wrapper{
    display: flex;
    justifyContent: space-between;
    alignItems: center;
    width: 100%;
  }
  .wrapper__links{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.list__products{
  list-style: none;
  margin: 0;
  padding: 0;
}